/* Space out content a bit */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\000038}}
body {
  margin: 0px;
  background-color: #ecf0f1;
  color: #2c3e50;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\0000314}}
.header, .marketing, .footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\0000319}}
.header {
  border-bottom: 1px solid #d5d5d5;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\0000322}}
.header img {
  width: 30%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\0000325}}
.header .links {
  padding: 0em 0em 1em 0em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\0000327}}
.header .links .link {
  padding: 0em 2em 0em 2em;
  text-transform: uppercase;
}

/* Make the masthead heading the same height as the navigation */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\0000334}}
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
  background-color: #ecf0f1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\0000341}}
.section-header {
  margin: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\0000344}}
.section-container {
  min-height: 90vh;
  width: 100%;
  text-align: center;
  padding-top: .5em;
  padding-bottom: .5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\0000351}}
.intro-section {
  background-color: #ecf0f1;
  color: #2c3e50;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\0000354}}
.intro-section .intro {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  height: 50vh;
  padding-top: 6em;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\0000364}}
.scroll-down {
  margin-left: auto;
  margin-right: auto;
  width: 0;
  height: 0;
  border-left: 4em solid transparent;
  border-right: 4em solid transparent;
  border-top: 2em solid #2c3e50;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\0000373}}
.portfolio {
  background-color: #2c3e50;
  color: #ecf0f1;
  /* Portfolio item */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\0000377}}
.portfolio portfolio-item {
  display: block;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 1em;
  cursor: pointer;
  height: 20em;
  opacity: 0.9;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\0000386}}
.portfolio portfolio-item:hover {
  opacity: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\0000389}}
.portfolio portfolio-item .portfolio-item-wrapper {
  width: 61em;
  margin-left: auto;
  margin-right: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\0000393}}
.portfolio portfolio-item .portfolio-item-wrapper .item-des {
  height: 20em;
  width: 15em;
  background-color: #ecf0f1;
  color: #2c3e50;
  display: inline-block;
  float: left;
  display: table;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003101}}
.portfolio portfolio-item .portfolio-item-wrapper .item-des .center-vertical {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003107}}
.portfolio portfolio-item .portfolio-item-wrapper .portfolio-img {
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003109}}
.portfolio portfolio-item .portfolio-item-wrapper .portfolio-img img {
  height: 20em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003113}}
.portfolio portfolio-item .portfolio-item-wrapper .item-title {
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 700;
  padding-bottom: 0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003122}}
.who {
  background-color: #95a5a6;
  color: #2c3e50;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003126}}
.contact {
  background-color: #2980b9;
  color: #ecf0f1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003129}}
.contact .contact-icon {
  margin: 1em;
  opacity: 0.9;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003132}}
.contact .contact-icon:hover {
  opacity: 1;
}

/* Custom page footer */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003138}}
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003143}}
.footer p {
  font-size: 0.8em;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003147}}
.footer .dac-icon {
  position: absolute;
  top: 0;
  right: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003151}}
.footer .dac-icon img {
  width: 5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003156}}
.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003161}}
  .container {
    max-width: 100%;
  }

  /* Remove the padding we set earlier */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003165}}
  .header, .marketing, .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003170}}
  .header {
    margin-bottom: 1%;
  }
}
