@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700,800);
@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,300,300italic,400italic);
@import url(http://fonts.googleapis.com/css?family=Oswald);

$clouds: #ECF0F1;
$midnightblue: #2C3E50;
$beliezehole: #2980B9;
$concrete: #95A5A6;
$border: #D5D5D5;
$carrot: #E67E22;

@mixin box-shadow-rb {
  box-shadow: rgba(0,0,0,0.15) 1px 1px 3px;
}

@mixin box-shadow-all {
  box-shadow: rgba(0,0,0,0.15) 0px 0px 3px;
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Space out content a bit */
 body {
    margin: 0px;
    background-color: white;
    color: $midnightblue;
    font-family: 'Open Sans', sans-serif;
}

/* Custom page header */
 .header {
    border-bottom: 1px solid $border;
    text-align: center;
    height: 20vh;
    position: relative;
    overflow: hidden;
    .under-image {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 20vh;
        //width: 100%;
        opacity: 0.3;
        z-index: -1;
    }
    .logo {
        @include vertical-align;
        width: 70%;
        padding: .5em;
        opacity: 1;
    }
}
.section-header {
    font-family: "Lato", sans-serif;
    margin: 4%;
    text-transform: uppercase;
    font-size: 32px;
}
.section-container {
    width: 100%;
    text-align: center;
    padding-top: .5em;
    padding-bottom: .5em;
}
.intro-section {
    background-color: $midnightblue;
    color: $clouds;
    position: relative;
    padding: 4% 1%;
    .intro {
        font-weight: 300;
        display: block;
        width: 95%;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: .8em;
    }
}
/* Portfolio */
 .portfolio {
    background-color: $clouds;
    color: $midnightblue;
    border-bottom: 1px solid $border;
    border-top: 1px solid $border;
    /* Portfolio item */
    portfolio-item {
        display: block;
        overflow: hidden;
        margin: .5em;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        cursor: pointer;
        height: 16em;
        opacity: 1;
        .portfolio-item-wrapper {
            color: $midnightblue;
            .item-title {
                font-weight: 700;
                text-transform: uppercase;
                font-size: 1.2em;
            }
            .item-description {
                font-size: 0.9em;
                font-weight: 300;
            }
            .item-des {
                font-size: .8em;                
                text-align: center;
                .portfolio-img {
                    width: 100%;
                    white-space: nowrap;
                    text-align: center;
                    margin: 1em 0;
                    img {
                        background: #3A6F9A;
                        vertical-align: middle;
                        max-width: 100%;
                    }
                }
            }
        }
    }
}
.who {
    background-color: $concrete;
    color: $midnightblue;
}
.technology {
    width: 100%;
    text-align: center;
    padding-top: .5em;
    padding-bottom: .5em;
    height: 267px;
    border-top: 1px solid $border;
    .center-vertical {
       @include vertical-align;
    }
    .technology-des {
        font-size: 0.8em;
        font-style: italic;
        font-weight: 300;
        margin-top: 10px;
    }
    .technology-item {
        display: inline-block;
        vertical-align: top;
        width: 23%;
        margin: .5%;
        margin-top: 7px;
        margin-bottom: 7px;
        padding: .5%;
        .item-icon {
            font-size: 1.5em;
        }
        .item {
            font-size: 0.7em;
        }
    }
}
.contact {
    background-color: $midnightblue;
    color: $clouds;
    padding-bottom: 4%;
    .contact-icon {
        margin: none;
        opacity: 1;
        img {
            @include box-shadow-rb;
            width: 30%;
        }
    }
}
/* Custom page footer */
 .footer {
    padding-top: .3em;
    color: #777;
    border-top: 1px solid #e5e5e5;
    text-align: center;
    p {
        font-size: 0.5em;
        text-align: center;
        margin: 0px;
    }
    a {
        color: $concrete;
        &:hover {
            color: $beliezehole;
        }
    }
    .dac-icon {
        img {
            width: 4em;
        }
    }
}
/* Responsive: Portrait tablets and up */
 @media screen and (min-width: 768px) {
    /* Custom page header */
    .header {
        height: 30vh;
        .under-image {
            height: 40vh;
        }
        .logo {
            width: 30%;
        }
    }
    .intro-section {
        padding: 2% 1%;
        .intro {
            font-size: 1em;
            width: 52%;
        }
    }
    /* Portfolio */
    .portfolio {
        /* Portfolio item */
        portfolio-item {
            margin: 0 auto;
            margin-top: 4%;
            margin-bottom: 4%;
            opacity: 0.9;
            height: 20em;
            &:hover {
                opacity: 1;
            }
            .portfolio-item-wrapper {
                margin-left: auto;
                margin-right: auto;
                .item-des {
                    font-size: 1em;
                    .portfolio-img {
                        margin: 0;
                        img {
                            max-width: 94%;
                            margin-top: 1%;
                        }
                    }
                }
            }
        }
    }
    .technology {
        .technology-des {
            margin-top: 0;
            margin-bottom: 1%;
            font-size: 1em;
        }
        .technology-item {
            width: 11%;
            .item-icon {
                font-size: 2.5em;
            }
        }
    }
    .contact {
        .contact-icon {
            margin: 1%;
            opacity: 0.9;
            &:hover {
                opacity: 1;
            }
            img {
                width: 20%;
            }
        }
    }
    /* Custom page footer */
    .footer {
        padding-top: 1em;
        position: relative;
        p {
            font-size: 0.8em;
        }
        .dac-icon {
            position: absolute;
            top: 0;
            right: 1em;
            img {
                width: 5em;
            }
        }
    }
}
