$clouds: #ECF0F1;
 $midnightblue: #2C3E50;
 $beliezehole: #2980B9;
 $concrete: #95A5A6;
 $border: #D5D5D5;

/* Space out content a bit */
 body {
    margin: 0px;
    background-color: $clouds;
    color: $midnightblue;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
 .header, .marketing, .footer {
    padding-left: 15px;
    padding-right: 15px;
}
/* Custom page header */
 .header {
    border-bottom: 1px solid $border;
    text-align: center;
    img {
        width: 30%;
    }
    .links {
        padding: 0em 0em 1em 0em;
        .link {
            padding: 0em 2em 0em 2em;
            text-transform: uppercase;
        }
    }
}
/* Make the masthead heading the same height as the navigation */
 .header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
    background-color: $clouds;
}
.section-header {
    margin: 1em;
}
.section-container {
    min-height: 90vh;
    width: 100%;
    text-align: center;
    padding-top: .5em;
    padding-bottom: .5em;
}
.intro-section {
    background-color: $clouds;
    color: $midnightblue;
    .intro {
        display: block;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        height: 50vh;
        padding-top: 6em;
        text-align: center;
    }
}
.scroll-down {
    margin-left: auto;
    margin-right: auto;
    width: 0;
    height: 0;
    border-left: 4em solid transparent;
    border-right: 4em solid transparent;
    border-top: 2em solid $midnightblue;
}
.portfolio {
    background-color: $midnightblue;
    color: $clouds;
    /* Portfolio item */
    portfolio-item {
        display: block;
        overflow: hidden;
        margin: 0 auto;
        margin-top: 1em;
        margin-bottom: 1em;
        cursor: pointer;
        height: 20em;
        opacity: 0.9;
        &:hover {
            opacity: 1;
        }
        .portfolio-item-wrapper {
            width: 61em;
            margin-left: auto;
            margin-right: auto;
            .item-des {
                height: 20em;
                width: 15em;
                background-color: $clouds;
                color: $midnightblue;
                display: inline-block;
                float: left;
                display: table;
                .center-vertical {
                    display: table-cell;
                    text-align: center;
                    vertical-align: middle;
                }
            }
            .portfolio-img {
                display: inline-block;
                img {
                    height: 20em;
                }
            }
            .item-title {
                text-transform: uppercase;
                font-size: 1.2em;
                font-weight: 700;
                padding-bottom: 0.5em;
            }
        }
    }
}
.who {
    background-color: $concrete;
    color: $midnightblue;
}
.contact {
    background-color: $beliezehole;
    color: $clouds;
    .contact-icon {
        margin: 1em;
        opacity: 0.9;
        &:hover {
            opacity: 1;
        }
    }
}
/* Custom page footer */
 .footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
    position: relative;
    p {
        font-size: 0.8em;
        text-align: center;
    }
    .dac-icon {
        position: absolute;
        top: 0;
        right: 1em;
        img {
            width: 5em;
        }
    }
}
.container-narrow > hr {
    margin: 30px 0;
}
/* Responsive: Portrait tablets and up */
 @media screen and (min-width: 768px) {
    .container {
        max-width: 100%;
    }
    /* Remove the padding we set earlier */
    .header, .marketing, .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 1%;
    }
}
