@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700,800);
@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,300,300italic,400italic);
@import url(http://fonts.googleapis.com/css?family=Sigmar+One);
@import url(http://fonts.googleapis.com/css?family=Oswald);

$clouds: #ECF0F1;
$midnightblue: #2C3E50;
$beliezehole: #2980B9;
$concrete: #95A5A6;
$border: #D5D5D5;
$carrot: #E67E22;

@mixin box-shadow-rb {
  box-shadow: rgba(0,0,0,0.15) 1px 1px 3px;
}

@mixin box-shadow-all {
  box-shadow: rgba(0,0,0,0.15) 0px 0px 3px;
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Space out content a bit */
 body {
    margin: 0px;
    background-color: white;
    color: $midnightblue;
    font-family: 'Open Sans', sans-serif;
}
/* Custom page header */
 .header {
    border-bottom: 1px solid $border;
    text-align: center;
    height: 267px;
    position: relative;
    overflow: hidden;
    .under-image {
        position: absolute;
        top: 0;
        left: -100px;
        right: 0;
        height: 310px;
        opacity: 0.3;
        z-index: -1;
    }
    .logo {
        @include vertical-align;
        width: 30%;
        padding: .5em;
        opacity: 1;
    }
}
.section-header {
    margin: 1em;
}
.section-container {
    min-height: 50vh;
    width: 100%;
    text-align: center;
    padding-top: .5em;
    padding-bottom: .5em;
}
.intro-section {
    background-color: $midnightblue;
    color: $clouds;
    height: 180px;
    position: relative;
    .intro {
        @include vertical-align;
        font-weight: 300;
        display: block;
        width: 46%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: .8em;
    }
}
.scroll-down {
    margin-left: auto;
    margin-right: auto;
    width: 0;
    height: 0;
    border-left: 4em solid transparent;
    border-right: 4em solid transparent;
    border-top: 2em solid $midnightblue;
}
/* Portfolio */
 .portfolio {
    background-color: $clouds;
    color: $midnightblue;
    border-bottom: 1px solid $border;
    border-top: 1px solid $border;
    /* Portfolio item */
    portfolio-item {
        display: block;
        overflow: hidden;
        margin: .5em;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        cursor: pointer;
        height: 20em;
        opacity: 1;
        .portfolio-item-wrapper {
            .item-des {
                height: 70vh;
                font-size: .8em;
                background-color: $clouds;
                color: $midnightblue;
                text-align: center;
                .center-vertical {
                    width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 2%;
                }
                .item-title {
                    text-transform: uppercase;
                    font-size: 1.3em;
                    font-weight: 700;
                    padding-bottom: 0.5em;
                    padding-top: 0.5em;
                }
                .description {
                    padding: 1em;
                    font-size: 0.8em;
                }
            }
            .portfolio-img {
                height: 200px;
                width: 100%;
                white-space: nowrap;
                text-align: center;
                margin: 1em 0;
                .helper {
                    display: inline-block;
                    height: 100%;
                    vertical-align: middle;
                }
                img {
                    background: #3A6F9A;
                    vertical-align: middle;
                    height:200px;
                    max-height: 30vh;
                    max-width: 100%;
                }
            }
        }
    }
}
.who {
    background-color: $concrete;
    color: $midnightblue;
}
.technology {
    width: 100%;
    text-align: center;
    padding-top: .5em;
    padding-bottom: .5em;
    height: 267px;
    border-top: 1px solid $border;
    .center-vertical {
       @include vertical-align;
    }
    .technology-item {
        display: inline-block;
        width: 109px;
        vertical-align: top;
        height: 110px;
        margin: 15px;
        padding: 10px;
        cursor: pointer;
        .item-icon {
            font-size: 2.5em;
            &:hover {
                color: $beliezehole;
            }
        }
        .item {
            font-size: 0.7em;
        }
    }
}
.contact {
    background-color: $clouds;
    .contact-icon {
        margin: 1em;
        opacity: 1;
        img {
            @include box-shadow-rb;
            width: 20%;
        }
    }
}
/* Custom page footer */
 .footer {
    padding-top: .3em;
    color: #777;
    border-top: 1px solid #e5e5e5;
    text-align: center;
    p {
        font-size: 0.5em;
        text-align: center;
        margin: 0px;
    }
    .dac-icon {
        img {
            width: 4em;
        }
    }
}
/* Responsive: Portrait tablets and up */
 @media screen and (min-width: 768px) {
    /* Custom page header */
    .header img {
        //width: 30%;
    }
    .intro-section {
        .intro {
            font-size: 1em;
        }
    }
    .scroll-down {
        margin-left: auto;
        margin-right: auto;
        width: 0;
        height: 0;
        border-left: 4em solid transparent;
        border-right: 4em solid transparent;
        border-top: 2em solid $midnightblue;
    }
    /* Portfolio */
    .portfolio {
        /* Portfolio item */
        portfolio-item {
            margin: 0 auto;
            margin-top: 1em;
            margin-bottom: 1em;
            opacity: 0.9;
            &:hover {
                opacity: 1;
            }
            .portfolio-item-wrapper {
                width: 61em;
                margin-left: auto;
                margin-right: auto;
                .item-des {
                    height: 20em;
                    display: inline-block;
                    float: left;
                    display: table;
                    font-size: 1em;
                    .center-vertical {
                        width: 15em;
                        display: table-cell;
                        text-align: center;
                        vertical-align: middle;
                    }
                }
                .portfolio-img {
                    display: inline-block;
                    margin: 0;
                    height: "";
                    width: "";
                    img {
                        max-height: none;

                        width: 100%;
                    }
                }
            }
        }
    }
    .contact {
        .contact-icon {
            margin: 1em;
            opacity: 0.9;
            &:hover {
                opacity: 1;
            }
            img {
                width:"";
            }
        }
    }
    /* Custom page footer */
    .footer {
        padding-top: 1em;
        position: relative;
        p {
            font-size: 0.8em;
        }
        .dac-icon {
            position: absolute;
            top: 0;
            right: 1em;
            img {
                width: 5em;
            }
        }
    }
}
