@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700,800);
@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,300,300italic,400italic);
@import url(http://fonts.googleapis.com/css?family=Sigmar+One);
@import url(http://fonts.googleapis.com/css?family=Oswald);
/* Space out content a bit */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\0000331}}
body {
  margin: 0px;
  background-color: white;
  color: #2c3e50;
  font-family: 'Open Sans', sans-serif;
}

/* Custom page header */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\0000338}}
.header {
  border-bottom: 1px solid #d5d5d5;
  text-align: center;
  height: 267px;
  position: relative;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\0000344}}
.header .under-image {
  position: absolute;
  top: 0;
  left: -100px;
  right: 0;
  height: 310px;
  opacity: 0.3;
  z-index: -1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\0000353}}
.header .logo {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 30%;
  padding: .5em;
  opacity: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\0000360}}
.section-header {
  margin: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\0000363}}
.section-container {
  min-height: 50vh;
  width: 100%;
  text-align: center;
  padding-top: .5em;
  padding-bottom: .5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\0000370}}
.intro-section {
  background-color: #2c3e50;
  color: #ecf0f1;
  height: 180px;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\0000375}}
.intro-section .intro {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-weight: 300;
  display: block;
  width: 46%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: .8em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\0000386}}
.scroll-down {
  margin-left: auto;
  margin-right: auto;
  width: 0;
  height: 0;
  border-left: 4em solid transparent;
  border-right: 4em solid transparent;
  border-top: 2em solid #2c3e50;
}

/* Portfolio */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\0000396}}
.portfolio {
  background-color: #ecf0f1;
  color: #2c3e50;
  border-bottom: 1px solid #d5d5d5;
  border-top: 1px solid #d5d5d5;
  /* Portfolio item */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003102}}
.portfolio portfolio-item {
  display: block;
  overflow: hidden;
  margin: .5em;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  cursor: pointer;
  height: 20em;
  opacity: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003113}}
.portfolio portfolio-item .portfolio-item-wrapper .item-des {
  height: 70vh;
  font-size: .8em;
  background-color: #ecf0f1;
  color: #2c3e50;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003119}}
.portfolio portfolio-item .portfolio-item-wrapper .item-des .center-vertical {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003125}}
.portfolio portfolio-item .portfolio-item-wrapper .item-des .item-title {
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: 700;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003132}}
.portfolio portfolio-item .portfolio-item-wrapper .item-des .description {
  padding: 1em;
  font-size: 0.8em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003137}}
.portfolio portfolio-item .portfolio-item-wrapper .portfolio-img {
  height: 200px;
  width: 100%;
  white-space: nowrap;
  text-align: center;
  margin: 1em 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003143}}
.portfolio portfolio-item .portfolio-item-wrapper .portfolio-img .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003148}}
.portfolio portfolio-item .portfolio-item-wrapper .portfolio-img img {
  background: #3A6F9A;
  vertical-align: middle;
  height: 200px;
  max-height: 30vh;
  max-width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003159}}
.who {
  background-color: #95a5a6;
  color: #2c3e50;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003163}}
.technology {
  width: 100%;
  text-align: center;
  padding-top: .5em;
  padding-bottom: .5em;
  height: 267px;
  border-top: 1px solid #d5d5d5;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003170}}
.technology .center-vertical {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003173}}
.technology .technology-item {
  display: inline-block;
  width: 109px;
  vertical-align: top;
  height: 110px;
  margin: 15px;
  padding: 10px;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003181}}
.technology .technology-item .item-icon {
  font-size: 2.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003183}}
.technology .technology-item .item-icon:hover {
  color: #2980b9;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003187}}
.technology .technology-item .item {
  font-size: 0.7em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003192}}
.contact {
  background-color: #ecf0f1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003194}}
.contact .contact-icon {
  margin: 1em;
  opacity: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003197}}
.contact .contact-icon img {
  box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 3px;
  width: 20%;
}

/* Custom page footer */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003204}}
.footer {
  padding-top: .3em;
  color: #777;
  border-top: 1px solid #e5e5e5;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003209}}
.footer p {
  font-size: 0.5em;
  text-align: center;
  margin: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003215}}
.footer .dac-icon img {
  width: 4em;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Custom page header */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003227}}
  .intro-section .intro {
    font-size: 1em;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003231}}
  .scroll-down {
    margin-left: auto;
    margin-right: auto;
    width: 0;
    height: 0;
    border-left: 4em solid transparent;
    border-right: 4em solid transparent;
    border-top: 2em solid #2c3e50;
  }

  /* Portfolio */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003241}}
  .portfolio {
    /* Portfolio item */
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003243}}
  .portfolio portfolio-item {
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
    opacity: 0.9;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003248}}
  .portfolio portfolio-item:hover {
    opacity: 1;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003251}}
  .portfolio portfolio-item .portfolio-item-wrapper {
    width: 61em;
    margin-left: auto;
    margin-right: auto;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003255}}
  .portfolio portfolio-item .portfolio-item-wrapper .item-des {
    height: 20em;
    display: inline-block;
    float: left;
    display: table;
    font-size: 1em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003261}}
  .portfolio portfolio-item .portfolio-item-wrapper .item-des .center-vertical {
    width: 15em;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003268}}
  .portfolio portfolio-item .portfolio-item-wrapper .portfolio-img {
    display: inline-block;
    margin: 0;
    height: "";
    width: "";
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003273}}
  .portfolio portfolio-item .portfolio-item-wrapper .portfolio-img img {
    max-height: none;
    width: 100%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003283}}
  .contact .contact-icon {
    margin: 1em;
    opacity: 0.9;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003286}}
  .contact .contact-icon:hover {
    opacity: 1;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003289}}
  .contact .contact-icon img {
    width: "";
  }

  /* Custom page footer */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003295}}
  .footer {
    padding-top: 1em;
    position: relative;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003298}}
  .footer p {
    font-size: 0.8em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003301}}
  .footer .dac-icon {
    position: absolute;
    top: 0;
    right: 1em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003305}}
  .footer .dac-icon img {
    width: 5em;
  }
}
