@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700,800);
@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,300,300italic,400italic);
@import url(http://fonts.googleapis.com/css?family=Oswald);
/* Space out content a bit */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\0000330}}
body {
  margin: 0px;
  background-color: white;
  color: #2c3e50;
  font-family: 'Open Sans', sans-serif;
}

/* Custom page header */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\0000338}}
.header {
  border-bottom: 1px solid #d5d5d5;
  text-align: center;
  height: 267px;
  position: relative;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\0000344}}
.header .under-image {
  position: absolute;
  top: 0;
  left: -100px;
  right: 0;
  height: 310px;
  opacity: 0.3;
  z-index: -1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\0000353}}
.header .logo {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 30%;
  padding: .5em;
  opacity: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\0000360}}
.section-header {
  font-family: "Lato", sans-serif;
  margin: 4%;
  text-transform: uppercase;
  font-size: 32px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\0000366}}
.section-container {
  min-height: 50vh;
  width: 100%;
  text-align: center;
  padding-top: .5em;
  padding-bottom: .5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\0000373}}
.intro-section {
  background-color: #2c3e50;
  color: #ecf0f1;
  height: 180px;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\0000378}}
.intro-section .intro {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-weight: 300;
  display: block;
  width: 46%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: .8em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\0000389}}
.scroll-down {
  margin-left: auto;
  margin-right: auto;
  width: 0;
  height: 0;
  border-left: 4em solid transparent;
  border-right: 4em solid transparent;
  border-top: 2em solid #2c3e50;
}

/* Portfolio */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\0000399}}
.portfolio {
  background-color: #ecf0f1;
  color: #2c3e50;
  border-bottom: 1px solid #d5d5d5;
  border-top: 1px solid #d5d5d5;
  /* Portfolio item */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003105}}
.portfolio portfolio-item {
  display: block;
  overflow: hidden;
  margin: .5em;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  cursor: pointer;
  height: 20em;
  opacity: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003115}}
.portfolio portfolio-item .portfolio-item-wrapper {
  color: #2c3e50;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003117}}
.portfolio portfolio-item .portfolio-item-wrapper .item-title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003122}}
.portfolio portfolio-item .portfolio-item-wrapper .item-description {
  font-size: 0.9em;
  font-weight: 300;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003126}}
.portfolio portfolio-item .portfolio-item-wrapper .item-des {
  font-size: .8em;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003129}}
.portfolio portfolio-item .portfolio-item-wrapper .item-des .portfolio-img {
  width: 100%;
  white-space: nowrap;
  text-align: center;
  margin: 1em 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003134}}
.portfolio portfolio-item .portfolio-item-wrapper .item-des .portfolio-img img {
  background: #3A6F9A;
  vertical-align: middle;
  max-height: 30vh;
  max-width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003145}}
.who {
  background-color: #95a5a6;
  color: #2c3e50;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003149}}
.technology {
  width: 100%;
  text-align: center;
  padding-top: .5em;
  padding-bottom: .5em;
  height: 267px;
  border-top: 1px solid #d5d5d5;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003156}}
.technology .center-vertical {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003159}}
.technology .technology-item {
  display: inline-block;
  width: 109px;
  vertical-align: top;
  height: 110px;
  margin: 15px;
  padding: 10px;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003167}}
.technology .technology-item .item-icon {
  font-size: 2.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003169}}
.technology .technology-item .item-icon:hover {
  color: #2980b9;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003173}}
.technology .technology-item .item {
  font-size: 0.7em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003178}}
.contact {
  background-color: #ecf0f1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003180}}
.contact .contact-icon {
  margin: 1%;
  opacity: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003183}}
.contact .contact-icon img {
  box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 3px;
  width: 20%;
}

/* Custom page footer */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003190}}
.footer {
  padding-top: .3em;
  color: #777;
  border-top: 1px solid #e5e5e5;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003195}}
.footer p {
  font-size: 0.5em;
  text-align: center;
  margin: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003201}}
.footer .dac-icon img {
  width: 4em;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Custom page header */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003213}}
  .intro-section .intro {
    font-size: 1em;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003217}}
  .scroll-down {
    margin-left: auto;
    margin-right: auto;
    width: 0;
    height: 0;
    border-left: 4em solid transparent;
    border-right: 4em solid transparent;
    border-top: 2em solid #2c3e50;
  }

  /* Portfolio */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003227}}
  .portfolio {
    /* Portfolio item */
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003229}}
  .portfolio portfolio-item {
    margin: 0 auto;
    margin-top: 4%;
    margin-bottom: 4%;
    opacity: 0.9;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003234}}
  .portfolio portfolio-item:hover {
    opacity: 1;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003237}}
  .portfolio portfolio-item .portfolio-item-wrapper {
    width: 61em;
    margin-left: auto;
    margin-right: auto;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003247}}
  .portfolio portfolio-item .portfolio-item-wrapper .item-des {
    font-size: 1em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003249}}
  .portfolio portfolio-item .portfolio-item-wrapper .item-des .portfolio-img {
    margin: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003251}}
  .portfolio portfolio-item .portfolio-item-wrapper .item-des .portfolio-img img {
    max-height: none;
    max-width: 94%;
    margin-top: 1%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003261}}
  .contact {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding-bottom: 4%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003265}}
  .contact .contact-icon {
    margin: 1%;
    opacity: 0.9;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003268}}
  .contact .contact-icon:hover {
    opacity: 1;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003271}}
  .contact .contact-icon img {
    width: "";
  }

  /* Custom page footer */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003277}}
  .footer {
    padding-top: 1em;
    position: relative;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003280}}
  .footer p {
    font-size: 0.8em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003283}}
  .footer a {
    color: #95a5a6;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003285}}
  .footer a:hover {
    color: #2980b9;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003289}}
  .footer .dac-icon {
    position: absolute;
    top: 0;
    right: 1em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/meredith\/code\/mlvl\.github\.io\/app\/styles\/main\.scss}line{font-family:\00003293}}
  .footer .dac-icon img {
    width: 5em;
  }
}
