/* The base stylesheet for Fluxweed.

This includes such things as the font 
stack, colors, universal standards 
(such as a standard width for borders)
general mixins, styling for the body,
headings, blockquote, and anchor tags. */

$body-text: 'PT Sans', Arial, Helvetica, sans-serif;
$alt-body-text: 'PT Serif', Times, serif;

$white: #fff;

$grey-0: #f2f2f2;
$grey-1: #e6e6e6;
$grey-2: #cccccc;
$grey-3: #b3b3b3;
$grey-4: #999999;
$grey-5: #808080;
$grey-6: #666666;
$grey-7: #4d4d4d;
$grey-8: #333333;
$grey-9: #1a1a1a;
$black: #1a1a1a;

$red: #d73d32;
$blue: #4285f4;
$green: #13955c;
$yellow: #f4df3b;


$line-height: 1.5;

$rounded-corner: 0rem;
$large-rounded-corner: 0.6rem;;

$border-thickness: 0.2rem;


@mixin unselectable {
    -moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none; 
}

@mixin animate-background-color {
	-webkit-transition: background 0.05s ease-out;
	-moz-transition: background 0.05s ease-out;
	transition: background 0.05s ease-out;
}

@mixin animate-box-shadow {
	-webkit-transition: border 0.2s ease-out;
	-moz-transition: border 0.2s ease-out;
	transition: border 0.2s ease-out;
}

@mixin animate-height-background {
	-webkit-transition: height 0.1s ease-out, padding 0.1s ease-in, background 0.05s ease-out;
	-moz-transition: height 0.1s ease-out, padding 0.1s ease-in, background 0.05s ease-out;
	transition: height 0.1s ease-out, padding 0.1s ease-in, background 0.05s ease-out;
}

@mixin hover-respond($selector, $color) {
	@include unselectable;
	#{$selector}:not(.selected) {
		background: $color;
		cursor: pointer;
		@include animate-background-color;
		&:hover {
			background: lighten($color, 5%);
		}
		&:active {
			background: darken($color, 5%);
		}
	}
	#{$selector}.disabled,  {
		color: rgba(255, 255, 255, 0.7);
		background: lighten($color, 25%);
		&:hover, &:active {
			background: lighten($color, 25%);
		}
	}
}

//Unstyle anchor tags
//for use in links that should look something like buttons
@mixin a-unstyle($selector) {
	#{$selector} a {
		color: white;
		text-decoration: none;
		&:hover {
			color: rgba(255, 255, 255, 0.8);
		}
	}
}

@mixin icon{
	font-family: 'iconic';
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}


body {
	background-color: $grey-0;
	color: $grey-9;
	line-height: 1;
	font-family: $body-text;
	font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}

h3, h4, h5, h6 {
	text-transform: uppercase;
}

a, a:visited {
	text-decoration: none;
	color: $grey-9;
	cursor: pointer;

	&:active {
		color: $grey-9;
	}
}

blockquote {
	margin: 0rem 5rem 1rem 5rem;
	line-height: $line-height;
	font-style: italic;
}

p {
	font-size: 1.6rem;
	line-height: 1.5;
	margin-bottom: 1rem;
}

strong {
	font-weight: 700;
}

em {
	font-style: italic;
}