/* Style for button elements
part of the fluxweed library

meant to be used with either an input tag, button tag, or div with the class of button
*/


button, input[type=button], .button {
	@include unselectable;
	font-size: 1.6rem;
	font-weight: 400;
	border: none;
	width: 100%;
	color: $white;
	border-radius: $rounded-corner;
	line-height: $line-height;
	opacity: 0.9;
	padding: 0.3em 2em;

	@include hover-respond("&", $grey-3);
}