/* Style for a vertical dropdown menu
part of the fluxweed library

meant to style the following HTML:
<nav class="dropdown-menu">
  <div class="dropdown-title">Saved Items</div>
  <ul class="dropdown-elements">
    <li>Saved Documents</li>
    <li>Saved Topics</li>
    <li>Clear Settings</li>
  </ul>
</nav>
*/

.dropdown-menu {
	@include unselectable;
	@include hover-respond(".dropdown-title", $blue);
	@include hover-respond("li", $yellow);
	@include animate-height-background;
	font-size: 1.6rem;
	color: $white;
	cursor: pointer;
	position: relative;
	border-radius: $rounded-corner;
	text-align: right;

	.dropdown-title {
		padding: 0.4rem 0.8rem;
		font-weight: 700;
		border-radius: $rounded-corner;
		&:after {
			@include icon;
			content: "";
			color: $yellow;
			margin-left: 0.8rem;
		}
	}
	
	ul {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
	}

	&:hover .dropdown-title {
		border-bottom-right-radius:0;
		border-bottom-left-radius:0;
	}

	li {
		height: 0;
		overflow: hidden;

		&:last-child {
			border-bottom-right-radius:$rounded-corner;
			border-bottom-left-radius:$rounded-corner;
		}
	}

	&:hover li{
		height: 24px;
		padding: 0.4rem 0.8rem;
	}
}