/* Style for a vertical selection panel
part of the fluxweed library

<div class="selection-panel">
  <div class="selection">An option</div>
  <div class="selection selected">Another option</div>
  <div class="selection">A third option</div>
  <div class="selection">An option</div>
  <div class="selection">Option</div>
  <div class="selection disabled">A longer option</div>
</div>
*/

.selection-panel {
	border-right: 1px solid $grey-8;
	.selection {
		padding: 1rem 2rem 1rem 2rem;
		&.selected {
			background-color: transparentize($yellow, 0.5);
			border-right: 4px solid $grey-8;
		}
		&:hover {
			background-color: transparentize($yellow, 0.8);
		}
	}
}

.selection-panel.standalone {
	border-radius: $rounded-corner;
	.selection {
		&:first-child {
			border-top-right-radius: $rounded-corner;
			border-top-left-radius: $rounded-corner;
		}
		&:last-child {
			border-bottom-right-radius: $rounded-corner;
			border-bottom-left-radius: $rounded-corner;
		}
	}
}