<div class="header">
    <img class="logo" src="../app/images/banner-color-1000.png"/>
    <img class="under-image" src="../app/images/map-banner-3.png"/>
</div>

<div class="intro-section">
    <p class="intro">We're the Machine Learning Visualization Lab at Decisive Analytics Corporation. We design intuitive user interfaces and interactive visualizations for complex algorithms and their results. Our focus is on enhancing users’ understanding and analysis of data without requiring expertise in data science or machine learning.  </p>
    <!-- <div class="scroll-down"></div> -->
</div>

<div class="technology">
    <div class="center-vertical">
        <div class="technology-des">We visualize</div>
        <div class="technology-item" ng-repeat="c in tech">
            <div class="item-icon"><span ng-class="'icon {{c.icon}}'"></span></div>
            <div class="item">{{c.name}}</div>
        </div>
    </div>
</div>

<div class="portfolio section-container">
    <h3 class="section-header">Portfolio</h3>
    <portfolio-item ng-repeat="item in items" ng-click="showItem($index)"></portfolio-item>
</div>

<div class="contact section-container">
    <h3 class="section-header">Contact Us</h3>
    <a class="contact-icon" href="https://twitter.com/decisiveUI" target="_blank"><img src="../app/images/Twitter_logo_blue.png"></a>
    <a class="contact-icon" href="https://github.com/mlvl" target="_blank"><img src="../app/images/GitHub-Logos/GitHub_Logo.png"></a>
    <a class="contact-icon" href="http://www.visualizing.org/users/mlvl" target="_blank"><img src="../app/images/visualizing.png"></a>
</div>

<div class="footer">
    <a href="http://www.dac.us"><p>The Machine Learning Visualization Lab is a division within Decisive Analytics Corporation.</p></a>
    <a class="dac-icon" href="http://www.dac.us" target="_blank"><img src="../app/images/DAC_Logo_BW_v0.png"></a>
</div>
