<a ng-href="{{item.href}}">
    <div class="portfolio-item-wrapper" ng-show="item.showing">
        <div class="item-des">
            <div class="center-vertical">
                <div class="item-title">{{item.title}}</div>
                <div>{{item.date}}</div>
                <div ng-if="item.liveurl">{{item.liveurl}}</div>
                <div ng-if="item.description" class="description">
                    {{item.description}}
                </div>
            </div>
            <div class="portfolio-img">
                <span class="helper"></span>
                <img ng-src='{{item.image}}' />
            </div>
        </div>
        <!-- <div ng-repeat="for picture in item.screenshots">
        <img ng-src="picture">
      </div> -->

    </div>
</a>
